[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

.vs/
*.csproj
*.sln
*.unityproj

*.swp
*.lock
*.log
*.bak
*.pidb
*.suo
*.user
*.booproj
*.svd
*.apk

Packages/*
!Packages/manifest.json
!Packages/packages-lock.json
